.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 40px;
    /* background: #efefef; */
    text-align: center;
    text-decoration: none;
    
  }