@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 40px;
    /* background: #efefef; */
    text-align: center;
    text-decoration: none;
    
  }



svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	/* stroke: #365FA0; */
	stroke: #f97316;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: #f97316;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: #f97316; }
	80%  {fill: rgba(72,138,204,0); stroke: #f97316; stroke-width: 3; }
	100% {
		fill: #f97316; stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

